<h1>Home page</h1>
<% if session[:client]&.dig("client_logged_in") %>
    <h1>Welcome, client user!</h1>
    <%= link_to "Logout", client_session_logout_path %>
    <p> Refresh Token: <%= session["client"]&.dig("refresh_token") %> </p>
    <p> Access Token: <%= session["client"]&.dig("access_token") %> </p>
    <%= link_to "Refresh Token", client_session_refresh_tokens_path %>
    <%= link_to "Request User Information", client_session_user_info_path %>
<% else %>
    <h1>You are not logged in.</h1>
    <%= link_to "Login", client_session_login_path %>
    <%= link_to "Sign up", client_session_user_registration_path %>
<% end %>